.container {
  width: auto;
}

.sort { 
    display: flex;
    width: 87px;
    height: 42px;
    align-items: center;
    border-radius: 6px;
    justify-content: center;
    background: rgba(221, 221, 221, 0.5);
    gap: 6px;
    
  button{
    width: 36px;
    height: 36px;
    padding: 0;
    border-radius: 6px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.listGroup, .cardGroup {
  position: relative;
}

.cardGroup {
  position: relative;
}

.listGroupContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 14px;
  row-gap: 6px;

  & .tool {
    height: 64px;

    & .toolTop {
      display: flex;
      gap: 6px;
      align-items: center;
    }

    img {
      width: 24px;
      height: 24px;
    }

    a {
      text-decoration: none;
      display: inline-flex;
      color: var(--text-color);
    }

    & .categories {
      margin-top: 6px;
    }
  }
  
}

.cardGroupContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  & .tool {
    background: var(--bg-pattern-overlay);
    padding: 10px;
    height: 200px;
    border-radius: 6px;

    img {
      width: 32px;
      height: 32px;
    }
  }

  & .toolTop {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  & p {
    margin: 10px 0;
    font-size: 14px;
    line-height: 16px;
    max-height: 112px;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: hidden;
  }

  a {
    color: var(--text-color);
  }
}

.tool {
  position: relative;
  align-items: center;
  gap: 10px;

  & a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
      text-decoration: underline;
    }
  }
  
  & .categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    line-height: 0.7;
  }

  & .dot {
    font-size: 14px;
  }
}

.paginationDivider {
  display: flex;
  position: absolute;
  right: -10px;
  top: 0;
  height: 100%;

  & .paginationDividerStart {
        position: relative;
            svg {
                position: absolute;
                right: -5px;
            }
        }
    & .paginationDividerLine {
        position: relative;
        right: 1px;

        svg {
            position: absolute;
            top: -1px;
        }
    }

    & .paginationDividerEnd {
        position: relative;

        svg {
            position: absolute;
            bottom: 0;
            right: -5px;
        }
    }
}

.paginationPage {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  font-weight: 500;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.panelMain {
  // background: var(--bg-pattern-overlay);
  display: inline-block;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 32px;
}

.panelContainer {
  background: var(--element-bg);
  background-image: var(--bg-image);
  background-size: 5px 5px;
  background-attachment: fixed;
  display: inline-flex;
  gap: 70px;
}

.paging {
  display: flex;
  height: 42px;
  align-items: center;
  border-radius: 6px;
  gap: 6px;
  padding: 0 6px;
  background: rgba(221, 221, 221, 0.5);


  & button {
    height: 36px;
    padding: 0 5px;
    border-radius: 6px;
    color: #4e4e4e;
    }
}

.paginationNumbers {
  display: flex;
  gap: 0.25rem;
  margin: 50px 0 60px;
  flex-wrap: wrap;
  justify-content: center;
}

.pageBtn {
  padding: 0.3rem 0.6rem;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  border-radius: 4px;
}

.active {
  background: #3279fe;
  color: var(--text-color);
  border-color: #3279fe;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 0.5rem;
  font-size: 1rem;
  color: var(--text-color);
}

.spinner {
  animation: spin 1s linear infinite;
  width: 24px;
  height: 24px;

  &path {
    stroke: #3279fe;
    stroke-linecap: round;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

// @media screen and (max-width: 1366px) {
//   .panelMain,
//   .list,
//   .card {
//     padding: 0 1rem;
//   }

//   .card {

//     & .toolTop  {
//       flex-direction: column;
//       align-items: normal;
//     }

//     p {
//       font-size: 12px;
//     }
//   }

//   .toolTop,
//   .paginationPage,
//   .categories {
//     font-size: 10px;
//   }



//   .paginationPage {
//     left: 6px;
//   }
// }



@media (max-width: 425px) {
  /* Styles for portrait tablets */

  #root {
    padding: 0 1rem;
  }

  .container {
    width: 98%;
    
    .panelContainer {
      gap: 6px;
    }

    & .listGroupContainer,
    & .cardGroupContainer {
      display: flex;
      flex-direction: column;

    }

    .listGroupContainer {

      & .tool {

        & .toolTop {
          justify-content: center;
        }

        & .categories {
          justify-content: center;
        }
      }
    }

    & .cardGroupContainer {
      grid-template-columns: repeat(2, 1fr);

      & .tool {
      
        & .toolTop {
          flex-direction: column;
          align-items: center;

          & .categories {
            text-align: center;
          }
        }
        & p {
          font-size: 12px;
          line-height: 1.2;
        }
      }
    }
  }

  .paginationDivider {
    right: -5px;

    & .paginationPage {
      left: 4px;
      font-size: 10px;
      font-weight: 400;
    }
  }
}

@media (min-width: 426px) and (max-width: 767px) {

    .listGroupContainer {
      grid-template-columns: repeat(2, 1fr);
    }

    .cardGroupContainer {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles for portrait tablets */
  .container {
    width: 98%;

    & .listGroupContainer {
      grid-template-columns: repeat(3, 1fr);
    }

    & .cardGroupContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .paginationDivider {
    right: -5px;

    & .paginationPage {
      left: 6px;
      font-size: 10px;
    }
  }
}