.specialOfferBanner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, #fc466b, #3f5efb, #00f2fe);
    color: white;
    text-align: center;
    padding: 12px 0;
    font-size: 12px;

    a {
        color: #fff;
        text-decoration: underline;
        margin-left: 10px;
    }
}
