.request {
  a {
    text-decoration: none;
    position: relative;
    color: var(--text-color);

    &:hover {
      text-decoration: underline;
    }
  }
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.btnPrimaryExpand,
.btnPrimaryMinimize {
  display: flex;
  margin: 0 auto 50px;
  padding: 20px;
  background: transparent;
  border: 0;
  color: var(--text-color);
}

.btnSend {
  height: 40px;
  background: rgba(14, 109, 231, 0.6);
  width: 100%;
  font-size: 18px;
  letter-spacing: 4px;
  border-radius: 20px;
  color: #fff;
}


.btnCancel {
  font-size: 18px;
  margin-top: 20px;
  color: var(--text-color);
  background: transparent;
}

.btnClearCategories {
  background: var(--btn-color);
  color: var(--text-color-invert);
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.scrollToTop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background-color-invert);
  color: var(--text-color-invert);
  border: none;
  font-size: 21px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
  width: 40px;
  height: 40px;
}

.visible {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 430px) {
  .left {
    left: -20px;
  }
}