.expandedCategories {
  display: grid;
  max-height: 400px;
  position: relative;
  overflow-y: auto;
  padding: 0;
  padding: 6px;
  margin: 16px auto;
  width: 90%;
  grid-template-columns: repeat(4, 1fr);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: var(--footer-line-gradient);
  }
}

.minimizedCategories {
  display: flex;
  align-items: center;
}

.expandedCategories,
.minimizedCategories {
  background: var(--bg-pattern);
  position: relative;
  flex-wrap: wrap;
  list-style: none;
  gap: 4px;

    li {
      border-radius: 6px;
      background: var(--bg-pattern-overlay);

    }

}

.icon {
  width: 16px;
}

.linkCategory {
    display: flex;
    align-items: center;
    padding: 4px 10px;
    font-size: 14px;
    color: var(--tex);
    text-decoration: none;
    gap: 6px;

    &:hover { text-decoration: underline; }
}

.active { 
    background-color: var(--active-category);
    color: #fff;
    border-radius: 6px;

    &:hover {
        text-decoration: none;
    }
 }

// .link-category.active {
//   background: rgb(0, 148, 163, 0.5);
// }
