.expandedCategories {
  display: grid;
  max-height: 400px;
  position: relative;
  overflow-y: auto;
  padding: 0;
  padding: 6px;
  margin: 16px auto;
  width: 90%;
  grid-template-columns: repeat(4, 1fr);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: var(--footer-line-gradient);
  }
}

.minimizedCategories {
  display: flex;
  align-items: center;
}

.expandedCategories,
.minimizedCategories {
  background: var(--bg-pattern);
  position: relative;
  flex-wrap: wrap;
  list-style: none;
  gap: 4px;

    li {
      border-radius: 6px;
      background: var(--bg-pattern-overlay);

    }

}

.icon {
  width: 16px;
}

.linkCategory {
    display: flex;
    align-items: center;
    padding: 4px 10px;
    font-size: 14px;
    color: var(--tex);
    text-decoration: none;
    gap: 6px;

    &:hover { text-decoration: underline; }

    & .counter {
      margin-left: auto;
    }
}

.active { 
    background-color: var(--active-category);
    color: #fff;
    border-radius: 6px;

    &:hover {
        text-decoration: none;
    }
 }

@media screen and (max-width: 425px) {
  .linkCategory {
    font-size: 12px;
    padding: 2px 6px;

      & .counter {
        margin-left: auto;
        margin-right: 8px;
        background: var(--background-color);
      }
  }

  .expandedCategories {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 426px) and (max-width: 767px) {
  .expandedCategories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .expandedCategories {
    grid-template-columns: repeat(3, 1fr);
  }
}