

.categoryListContainer {
  position: relative;
}    

.expandedCategories {
  display: grid;
  max-height: 400px;
  position: relative;
  overflow-y: auto;
  padding: 0;
  padding: 6px;
  margin: 16px auto;
  width: 90%;
  grid-template-columns: repeat(4, 1fr);
}

  .minimizedCategories {
    display: flex;
    align-items: center;
  }

  .expandedCategories,
  .minimizedCategories {
    background: var(--bg-pattern);
    position: relative;
    flex-wrap: wrap;
    list-style: none;
    gap: 4px;

      li {
        border-radius: 6px;
        background: var(--bg-pattern-overlay);

      }

  }

.border {
    &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    right: 40px;
    background: var(--footer-line-gradient);
  }
}

.icon {
  width: 16px;
}

.linkCategory {
    display: flex;
    align-items: center;
    padding: 4px 10px;
    font-size: 14px;
    color: var(--tex);
    text-decoration: none;
    gap: 6px;

    &:hover { text-decoration: underline; }

    & .counter {
      margin-left: auto;
    }
}

.active { 
  background-color: var(--active-category);
  color: #fff;
  border-radius: 6px;

  &:hover {
      text-decoration: none;
  }
 }

@media (max-width: 510px) {
  .categoryList {
    padding-left: 40px;

    & .categoryListContainer {

      & .expandedCategories {
        margin: 8px 0;
        max-height: 280px;
      }

      & .minimizedCategories {
        display: none;
      }
    }
  }

  .linkCategory {
    font-size: 12px;
    padding: 2px 6px;

    & .counter {
      margin-left: auto;
    }
  }

  .expandedCategories {
    grid-template-columns: repeat(1, 1fr);
  }

}

@media (min-width: 511px) and (max-width: 767px) {
  .expandedCategories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .expandedCategories {
    grid-template-columns: repeat(3, 1fr);
  }
}