footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  z-index: 997;
  
  .footerContainer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--element-bg);
    background-image: var(--bg-image);
    background-size: 5px 5px;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    font-size: 12px;
    z-index: inherit;
    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      height: 1px;
      width: 50%;
      /* margin: 0 auto; */
      background: var(--footer-line-gradient);
    }
  }
}


