.top {
  padding: 10px 0;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  & .navContent {
    display: flex;
    gap: 6rem;

    ul {
    display: flex;
    list-style: none;
    gap: 1rem;

      a {
        text-decoration: none;
        color: var(--text-color);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.panelHeader {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.navOverlay {
  display: flex;
  align-items: center;
  gap: 5rem;

  @media (max-width: 1024px) {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--element-bg);
    background-image: var(--bg-image);
    background-size: 5px 5px;
    background-attachment: fixed;
    padding: 1rem;
    z-index: 10;
    border-radius: 0 0 10px 10px;

    ul {
      flex-direction: column;
      width: 100%;

      li {
        font-size: 16px;
      }
    }

    .panelHeader {
      flex-direction: column;
      gap: 12px;
    }
  }
}

.showMobile {
  display: flex;
}

.btnCross {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  right: -40px;
  top: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .btnCross {
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background-color: var(--btn-color);
    color: var(--text-color-invert);
  }

  .navContainer {
    flex-wrap: wrap;

    & .navOverlay {
        gap: 1rem;
        position: fixed;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        top: 58px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 998;
        border-radius: 0;
        padding: 0;

        & .navContent {
          position: absolute;
          top: 0;
          width: 100%;
          height: auto;
          overflow-y: auto;
          background: var(--element-bg);
          background-image: var(--bg-image);
          background-size: 5px 5px;
          background-attachment: fixed;
          padding-bottom: 2rem;
          display: flex;
          gap: 1rem;
          flex-direction: column;

          ul {
            gap: 0;
            margin: 0;
            padding: 0;

            a {
              text-decoration: none;
              color: var(--text-color);
              font-size: 16px;
              width: 100%;
              padding: 1rem 1rem;
              display: flex;
            }
          }
        }
    }
  }

  .hamburger {
    display: block;
    background: transparent;
    color: currentColor;
  }

  .panelHeader {
    flex-direction: column;
    gap: 12px;
  }
}

