/* styles/components/Panel.module.scss */
.container {
  background: #fff;
  background-image: radial-gradient(rgba(0, 0, 0, 0.1) 0.5px, transparent 0);
  background-size: 5px 5px;
  background-attachment: fixed;
}

:global(body.dark-mode) .container {
  background: #30334d;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 0.5px, transparent 0);
}
