.requestToolContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;

  & .requestToolOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & .requestTool {
      background: var(--element-bg);
      background-image: var(--bg-image);
      background-size: 5px 5px;
      background-attachment: fixed;
      position: relative;
      height: auto;
      width: 480px;
      padding: 40px 30px;
      display: inline-block;
    }
  }
}

.btnCross {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  right: -40px;
  top: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
// @media screen and (min-width: 1267px) {
//   .requestToolContainer {
//   }
  
// }

// // Tablet horizontal
// @media (max-width: 1366px) {
//   .requestToolContainer {
//   }
// }

// @media screen and (max-width: 1024px) {
//   .lorem {
//     & .requestToolContainer {
//       & .requestTool {
//         width: 90%; /* Instead of fixed 480px */
//         padding: 30px 20px;

//         & .form {
//           width: 100%;
//         }
//       }
//     }

//     .btnCross {
//       right: -20px;
//       top: -20px;
//       width: 32px;
//       height: 32px;
//     }
//   }
// }

@media (max-width: 430px) {
  .requestToolContainer {
    & .requestToolOverlay {
      width: 100%;
      height: 100%;
      
      & .requestTool {
        width: inherit;
        height: inherit;
        overflow-y: auto;
        overflow-x: hidden;
                
      }
    }

    .btnCross {
      right: 10px;
      top: 10px;
      width: 30px;
      height: 30px;
      background-color: var(--btn-color);
      color: var(--text-color-invert);
    }
  }
}