.themeToggle {
  position: relative;
}

.toggleBtn {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  border-radius: 50%;
  margin: 5px;
  position: relative;
}

.btnLight {
  background: var(--btn-color);
}

.btnDark {
    background: var(--btn-color);
}