*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1;
}

body,
.nav ul li a,
.tool a,
.request a,
.btn-cancel
 {
  color: #474747;
}

body,
.request-ai-tool,
.expanded-tags,
.minimized-tags,
.search ul li:hover,
.btn-primary-expand,
.btn-primary-minimize,
button,
.btn-light,
.donate {
  background: #fff;
}


/* DARK MODE OVERRIDES */
body.dark-mode,
body.dark-mode .request-ai-tool,
body.dark-mode .expanded-tags,
body.dark-mode .minimized-tags,
body.dark-mode .search ul li:hover,
body.dark-mode .btn-primary-expand,
body.dark-mode .btn-primary-minimize,
body.dark-mode .sort,
body.dark-mode .btn-cancel,
body.dark-mode .btn-cross,
body.dark-mode .btn-clear
{
  background: #30334d;
}

body.dark-mode .search input {
 background: #22243b;
}

body.dark-mode .expanded-tags li,
body.dark-mode .minimized-tags li,
body.dark-mode .card .tool
{
  background: #282a43;
}

body.dark-mode .expanded-tags {
  border-color: #282a43;
}




body.dark-mode,
body.dark-mode .nav ul li a,
body.dark-mode .request a,
body.dark-mode .search input,
body.dark-mode .search input::placeholder,
body.dark-mode .search-icon,
body.dark-mode .tool a,
body.dark-mode .btn-primary-expand,
body.dark-mode .btn-primary-minimize,
body.dark-mode .request-ai-tool h2,
body.dark-mode .request-ai-tool .form span,
.btn-send,
body.dark-mode .btn-cancel,
body.dark-mode .btn-cross,
body.dark-mode .btn-clear,
body.dark-mode .link-tag,
body.dark-mode .tool
{
  color: #fff;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;

}

.top {
  margin-bottom: 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 18px;
}

.nav ul li a {
  text-decoration: none;
}

.nav ul li a:hover {
  text-decoration: underline;
}

.panel {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.donate {
  font-weight: bold;
  display: flex;
  border-radius: 16px;
  padding: 9px 10px;
  color: #5b22e0;
  height: 30px;
  font-size: 14px;
  align-items: center;
  border: 2px solid #5b22e0
}

.theme-container {
  position: relative;
}

.theme {
  display: flex;
  position: absolute;
  right: -50px;
  align-items: center;
  margin: 5px;
}

.request a {
  text-decoration: none;
  position: relative;
}

.request a:hover {
  text-decoration: underline;
}

.request-ai-tool-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.request-ai-tool {
  position: relative;
  height: auto;
  width: 480px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
}

.request-ai-tool h2 {
  text-align: center;
  color: #474747;
  margin: 0;
}

.request-ai-tool .form {
  width: 400px;
  display: flex;
  margin: 40px auto 20px;
  gap: 16px;
  flex-direction: column;
}

.request-ai-tool .form .title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.request-ai-tool .form .title .character-count {
  font-size: 10px;
  font-style: italic;
  letter-spacing: 1px;
}

.request-ai-tool .form span {
  color: #474747;
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 14px;
}

.request-ai-tool .form input {
  height: 40px;
  width: 100%;
  border-radius: 6px;
  border: none;
  background: #e1e0e0;
  padding: 0 8px;
  color: #474747;
  font-weight: 700;
}

.request-ai-tool .form textarea {
  resize: none;
  width: 100%;
  height: 200px;
  padding: 8px;
  background: #e1e0e0;
  border: none;
  border-radius: 6px;
  color: #474747;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
}

.request-ai-tool .form input:focus-visible,
.request-ai-tool .form textarea:focus-visible,
.search input:focus-visible {
  outline: none;
}

.test {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: auto;
  align-items: center;
}

.logo a {
  margin: auto;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 0;
  color: #474747;
  font-size: 16px;
}

.container {
  width: 900px;
  margin: 0 auto;
}


.input-with-icon {
  position: relative;
  width: 100%;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #888;
  /* pointer-events: none;
   */
}

.search input {
  height: 68px;
  width: 100%;
  border-radius: 15px;
  border: none;
  background: #e1e0e0;
  padding: 0 50px 0 26px;
  font-size: 18px;
  color: #999;
}

.search input::placeholder {
  color: #999;
}

.expanded-tags {
  display: grid;
  max-height: 400px;
  position: relative;
  overflow-y: scroll;
  border-bottom: 1px solid #c6c6c6;
  padding: 0;
  padding: 6px;
  margin: 16px auto;
  width: 90%;
  grid-template-columns: repeat(4, 1fr);
}

.minimized-tags {
  display: flex;
  align-items: center;
}

.expanded-tags,
.minimized-tags {
  flex-wrap: wrap;
  list-style: none;
  gap: 4px;
}

.expanded-tags li,
.minimized-tags li {
  background: #f3f1f1;
  border-radius: 6px;

}

.link-tag {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  font-size: 12px;
  color: #4e4e4e;
  text-decoration: none;
  height: 24px;
  gap: 6px;
}

.expanded-tags li {
  height: auto;
}

.search ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search ul li .icon {
  width: 16px;
}

.btn-primary-expand,
.btn-primary-minimize {
  display: flex;
  margin: 34px;
  margin: 0 auto;
}

.sort {
  display: flex;
  width: 87px;
  height: 42px;
  align-items: center;
  border-radius: 6px;
  justify-content: space-evenly;
  margin-bottom: 32px;
  background: #f3f1f1;
}

.sort button {
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 6px;
}


button,
.btn-primary,
.btn-primary-expand,
.btn-primary-minimize
{
  border: 0;
}

.btn-send {
  height: 40px;
  background: #0e6de7;
  width: 100%;
  font-size: 18px;
  letter-spacing: 4px;
  border-radius: 20px;
}

.btn-cancel {
  font-size: 18px;
  margin-top: 50px;
}

.btn-cross {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  right: -40px;
  top: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-clear {
  display: flex ;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.toggle-btn {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.btn-dark {
  background: #494b91;
}

button:hover {
  cursor: pointer;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 14px;
  row-gap: 6px;
}

.list .tool img {
  width: 18px;
  height: 18px;
}

.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 100px;
}

.card .tool {
  background: #f3f1f1;
  padding: 10px;
  height: 148px;
  max-height: 148px;
  border-radius: 6px;
}

.card .tool img {
  width: 32px;
  height: 32px;
}

.card p {
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 18px;
  height: 94px;
  overflow: hidden;
}

.tool div {
  display: flex;
  align-items: center;
  gap: 10px;
}



.tool a {
  text-decoration: none;
}

.tool a:hover {
  text-decoration: underline;
}

.tool a h2 {
  font-size: 14px;
  margin: 0;
}

.tool .tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  font-size: 8px;
}

.tool .dot {
  font-size: 14px;
}

/* RequestAiTool */

.container-test {
  margin: auto;
  width: 400px;
}



/* Ads */
.ads {
  background: red;
  display: grid;
  /* justify-content: space-around; */
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 40px;
  height: 225px;
}

.ads .img {
  background: black;
}

/* toggle theme */

.theme-toggle-btn {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  background-color: #ddd;
  border-radius: 5px;
}