*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1;
}

body,
h1,
.nav ul li a,
.search input,
.tool a,
.request a,
.btn-cancel,
.request-ai-tool h2,
.request-ai-tool .form label,
input[type="file"],
input[type="file"]::file-selector-button:hover
{
  color: #474747;
}

body,
.request-ai-tool,
.expanded-tags,
.minimized-tags,
.search ul li:hover,
button,
.btn-light,
.donate
{
  background: #fff;
  background-image: radial-gradient(rgba(0, 0, 0, 0.1) 0.5px, transparent 0);
  background-size: 5px 5px;
  background-attachment: fixed;
}


/* DARK MODE OVERRIDES */
body.dark-mode,
body.dark-mode .request-ai-tool,
body.dark-mode .expanded-tags,
body.dark-mode .minimized-tags,
body.dark-mode .search ul li:hover,
body.dark-mode .sort,
body.dark-mode .btn-cancel,
body.dark-mode .btn-cross,
body.dark-mode .btn-clear
{
  background: #30334d;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 0.5px, transparent 0);
  background-size: 5px 5px;
  background-attachment: fixed;
}

body.dark-mode .search input,
body.dark-mode .request-ai-tool .form .input-text,
body.dark-mode .request-ai-tool .form textarea 
{
  background: rgba(34, 36, 59, 0.5);
}

body.dark-mode .expanded-tags li,
body.dark-mode .minimized-tags li,
body.dark-mode .card .tool
{
  background: rgba(40, 42, 67, 0.5);
}

body.dark-mode .expanded-tags {
  border-color: #282a43;
}

body.dark-mode,
body.dark-mode .nav ul li a,
body.dark-mode .request a,
body.dark-mode .search input,
body.dark-mode .search input::placeholder,
body.dark-mode .search-icon,
body.dark-mode .tool a,
body.dark-mode .btn-primary-expand,
body.dark-mode .btn-primary-minimize,
body.dark-mode .request-ai-tool h2,
body.dark-mode .request-ai-tool .form label,
.btn-send,
body.dark-mode .btn-cancel,
body.dark-mode .btn-cross,
body.dark-mode .btn-clear,
body.dark-mode .link-tag,
body.dark-mode .tool,
.btn-clear-tags,
body.dark-mode .request-ai-tool .form .input-text,
body.dark-mode .request-ai-tool .form textarea,
body.dark-mode .file-input
{
  color: #fff;
}

body.dark-mode .link-tag.active {
  background-color: rgb(0, 246, 255, 0.2);
}

body.dark-mode .btn-clear-tags {
  background: #fff;
  color: #000;
}

body.dark-mode .btn-send {
  background: rgba(14, 109, 231, 0.5);
}

.sort,
.card .tool,
.expanded-tags li,
.minimized-tags li {
  background: rgba(221, 221, 221, 0.5);
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;

}

.top {
  margin-bottom: 40px;
}

.hello {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 18px;
  padding: 0;
}

.nav ul li a {
  text-decoration: none;
}

.nav ul li a:hover {
  text-decoration: underline;
}

.panel {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.donate {
  font-weight: bold;
  display: flex;
  border-radius: 16px;
  padding: 9px 10px;
  color: #5b22e0;
  height: 30px;
  font-size: 14px;
  align-items: center;
  border: 2px solid #5b22e0
}

.theme {
  position: relative;
}

.request a {
  text-decoration: none;
  position: relative;
}

.request a:hover {
  text-decoration: underline;
}

.request-ai-tool-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.request-ai-tool {
  position: relative;
  height: auto;
  width: 480px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
}

.request-ai-tool h2 {
  text-align: center;
  margin: 0;
}

.request-ai-tool .form {
  width: 400px;
  display: flex;
  margin: 40px auto 20px;
  gap: 16px;
  flex-direction: column;
}

.request-ai-tool .form .title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.request-ai-tool .form .title .count {
  font-size: 12px;
  font-style: italic;
  letter-spacing: 1px;
  margin-bottom: 6px;
}

.request-ai-tool .form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 16px;
}

.request-ai-tool .form .input-text {
  height: 40px;
  width: 100%;
  border-radius: 6px;
  border: none;
  background: rgba(189, 186, 186, 0.5);
  padding: 0 8px;
  font-weight: 500;
  flex-grow: 1;
    min-width: 120px;
    border: none;
    outline: none;
    font-size: 14px;
}

.request-ai-tool .form .file-input {
  background: transparent;
  padding: 0;
  border: none;
}

.request-ai-tool .form textarea {
  resize: none;
  width: 100%;
  height: 200px;
  padding: 8px;
  background: rgba(189, 186, 186, 0.5);
  border: none;
  border-radius: 6px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.2;
}
.request-ai-tool .form input,
.request-ai-tool .form textarea
{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.request-ai-tool .form input:focus-visible,
.request-ai-tool .form textarea:focus-visible,
.search input:focus-visible {
  outline: none;
}

.test {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 20px auto 0;
  align-items: center;
}

.logo a {
  margin: auto;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 16px;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.search {
  position: relative;
}

.search .input-with-icon {
  position: relative;
  width: 100%;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #888;
  /* pointer-events: none;
   */
}

.search input {
  height: 68px;
  width: 100%;
  border-radius: 15px;
  border: none;
  background: rgba(189, 186, 186, 0.5);
  padding: 0 50px 0 26px;
  font-size: 18px;
}

.search input::placeholder {
  color: #999;
}

.expanded-tags {
  display: grid;
  max-height: 400px;
  position: relative;
  overflow-y: auto;
  border-bottom: 1px solid #c6c6c6;
  padding: 0;
  padding: 6px;
  margin: 16px auto;
  width: 90%;
  grid-template-columns: repeat(4, 1fr);
}

.minimized-tags {
  display: flex;
  align-items: center;
}

.expanded-tags,
.minimized-tags {
  flex-wrap: wrap;
  list-style: none;
  gap: 4px;
}

.expanded-tags li,
.minimized-tags li {
  border-radius: 6px;
}

.link-tag {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  font-size: 14px;
  color: #4e4e4e;
  text-decoration: none;
  gap: 6px;
}

.link-tag.active {
  background: rgb(0, 148, 163, 0.5);
  color: #fff;
  border-radius: 6px;
}

ul li a.link-tag.active:hover {
  text-decoration: none;
}

.expanded-tags li {
  height: auto;
}

.link-tag:hover {
  text-decoration: underline;
}

.search ul li .icon {
  width: 16px;
}

.btn-primary-expand,
.btn-primary-minimize {
  display: flex;
  margin: 34px;
  margin: 0 auto;
  background: transparent;
}

.sort {
  display: flex;
  width: 87px;
  height: 42px;
  align-items: center;
  border-radius: 6px;
  justify-content: space-evenly;
  margin-bottom: 32px;
}

.sort button {
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 6px;
}


button,
.btn-primary,
.btn-primary-expand,
.btn-primary-minimize
{
  border: 0;
}

.btn-send {
  height: 40px;
  background: rgba(14, 109, 231, 0.6);
  width: 100%;
  font-size: 18px;
  letter-spacing: 4px;
  border-radius: 20px;
}

.btn-cancel {
  font-size: 18px;
  margin-top: 20px;
}

.btn-cross {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  right: -40px;
  top: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-clear {
  display: flex ;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.toggle-btn {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  border-radius: 50%;
  margin: 5px;
  position: relative;
  z-index: 999;
}

.btn-clear-tags {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
}

.btn-dark,
.btn-clear-tags
{
  background: #494b91;
}

button:hover {
  cursor: pointer;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 14px;
  row-gap: 2px;
  margin-bottom: 100px;
}

.list .tool {
  display: flex;
}

.list .tool img {
  width: 18px;
  height: 18px;
}

/* .list .tool a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
} */

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 100px;
}

.card .tool {
  padding: 10px;
  height: 200px;
  border-radius: 6px;
}

.card .tool img {
  width: 32px;
  height: 32px;
}

.card p {
  margin: 12px 0;
  font-size: 14px;
  line-height: 16px;
  max-height: 112px;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  overflow: hidden;
}

.tool {
  position: relative;
  align-items: center;
  gap: 10px;
}

.tool-top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tool a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 26px;
}

.tool a:hover {
  text-decoration: underline;
}

.tool a h2 {
  font-size: 18px;
  margin: 0;
}

.tool .tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  font-size: 12px;
}

.tool .dot {
  font-size: 14px;
}


/* RequestAiTool */

.container-test {
  margin: auto;
  width: 400px;
}



/* Ads */
.ads {
  background: red;
  display: grid;
  /* justify-content: space-around; */
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 40px;
  height: 225px;
}

.ads .img {
  background: black;
}

/* toggle theme */

.theme-toggle-btn {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  background-color: #ddd;
  border-radius: 5px;
}

input[type="file"] {
  font-family: inherit;
  padding: 8px;
  border-radius: 6px;
}

input[type="file"]::file-selector-button {
  background: #494b91;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  margin-right: 10px;
}

input[type="file"]::file-selector-button:hover {
  background: #fff;
}

.tag-list {
  list-style-type: disc;
  padding-left: 1rem;
}

.tag-list .tag {
  margin-bottom: 4px;
}

.banner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 6px;
}

.banner {
  height: 32px;
  background-color: #494b91;
  border-radius: 16px;
  padding-left: 14px;
  padding-right: 6px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

.banner button {
  background: none;
  display: flex;
  color: #fff;
}

.counter {
  display: flex;
  justify-content: space-between;
  width: 100%;
}