*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 16px;
}

h2 {
  font-size: 18px;
  margin: 0;
}

.container {
  width: 900px;
  margin: 0 auto;
}

@media all and (max-width: 430px) {

  #root {
    padding: 0 1rem;
  }
}

@media (min-width: 426px) and (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 0 2rem;
  }
}

@media screen and (max-width: 430px) {
  .container {
    width: 100%;
    padding: 0;

    & .listGroupContainer {
      display: flex;
      flex-direction: column;
    }
  }
}